// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#dl {
    margin-top: 0vh;
    line-height: 1.5;
}

.d-band-0 {
    background-color: #e2eaf3 !important;
}

.d-band-1 {
    background-color: #C5D5E7 !important;
}

.d-limit.d-begin {
    background: linear-gradient(to left, rgba(148, 148, 148, 0.2) 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.d-limit.d-end {
    background: linear-gradient(to right, rgba(148, 148, 148, 0.2) 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.d-marker {
    color: black !important;
}

.d-bubble {
    margin-left: 0 !important;
    margin-right: 20px !important;
    text-align: right !important;
    &.image {
        img {
            position: fixed;
            width: 100vw;
            left: 0;
            box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 1);
            bottom: 50vh;
            transform: translateY(50%);
        }
    }
}

.d-event {
    font-size: 1.5rem;
}

.d-close {
    float: left !important;
}

.destroy {
    text-decoration: none;
    color: red;
}

.add-event {
    position: fixed;
    bottom: calc(5vh + 2rem);
    left: 10px;
    text-decoration: none;
    color: #5281B7;
    background: #e2eaf3;
    border-radius: 100px;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:visited {
        color: #5281B7;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    input,
    textarea {
        width: 100%;
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid #5281B750;
        &[type=submit] {
            background: #5281B7;
            border: none;
            color: white;
        }
    }
    label {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

h1 {
    padding: 1rem;
    margin: 0;
}

h2 {
    margin-bottom: .5rem;
}

img {
    width: 100%;
}